<template>
	<div>
		<hr class="mb-0" />
		<div class="d-flex align-items-center mt-3" v-for="record in records" :key="record.index">
			<div class="col pl-0">
				<textarea class="form-control" title="No description for sprint" placeholder="No description" rows="1" v-model="comments[record.index]"></textarea>
			</div>
			<div class="pl-3 text-center"><b>{{ duration(record.start, record.end) }}</b></div>
			<div class="pl-3 text-center"><b>{{ startDate(record.start) }}</b></div>
			<div class="pl-3 text-center">
				<button class="btn btn-sm btn-outline-danger" v-if="!saveNeeded(record.index)" @click="timerSprintRemoveIndex({uuid: uuid, index: record.index})"><fai icon="trash" /></button>
				<button class="btn btn-sm btn-outline-success" v-if="saveNeeded(record.index)" @click="saveComment(record.index)"><fai icon="save" /></button>
			</div>
		</div>
	</div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex'
	import eventBus from '../util/eventBus'

	export default {
		name: 'TimerRecords',
		props: {
			uuid: String
		},
		created() {
			this.loadData()
			eventBus.on('records', (uuid) => {
				if (uuid === this.uuid)
					this.loadData()
			})
		},
		data() {
			return {
				records: [],
				comments: []
			}
		},
		computed: {
			...mapGetters(['formatTimestamp', 'timerRecords']),
		},
		methods: {
			...mapActions(['timerSprintRemoveIndex', 'timerUpdateComment']),
			setComments() {
				for (let record of this.records)
					this.comments[record.index] = record.comment
			},
			duration(start, end) {
				if (end === null)
					return '--:--'

				return this.formatTimestamp(end - start)
			},
			startDate(start) {
				let dateStart = new Date(start * 1000)

				let startTime = dateStart.getUTCHours() + ':' + (dateStart.getUTCMinutes() > 9 ? dateStart.getUTCMinutes() : '0' + dateStart.getUTCMinutes())
				let startDate = (dateStart.getUTCDay() > 9 ? dateStart.getUTCDay() : '0' + dateStart.getUTCDay()) + '.' + (dateStart.getUTCMonth() > 9 ? dateStart.getUTCMonth() : '0' + dateStart.getUTCMonth()) + '.' + dateStart.getUTCFullYear()

				return startTime + ' / ' + startDate
			},
			saveNeeded(index) {
				let record = this.records.filter(record => record.index === index)
				if (record.length === 0)
					return false

				return (record[0].comment !== this.comments[index].trim())
			},
			saveComment(index) {
				this.timerUpdateComment({
					uuid: this.uuid,
					index: index,
					comment: this.comments[index]
				})

				this.loadData()
			},
			loadData() {
				this.records = this.timerRecords(this.uuid)
				this.setComments()
			}
		}
	}
</script>

<style lang="scss" scoped>
	.d-flex.align-items-center {
		> *:nth-child(2) {
			width: 70px;
		}
		> *:nth-child(3) {
			width: 165px;
		}
		> *:nth-child(4) {
			width: 55px;
		}
	}
</style>
