<template>
	<div class="d-flex align-items-center mt-3">
		<div class="text-center">{{ comment.index + 1 }}</div>
		<div class="col">
			<textarea class="form-control" title="Beschreibung des Sprints" placeholder="Keine Beschreibung" rows="1" v-model="text"></textarea>
		</div>
		<div class="pl-3 text-center"><b>{{ duration }}</b></div>
		<div class="pl-3 text-center"><b>{{ startDate }}</b></div>
		<div class="pl-3 text-center">
			<button class="btn btn-sm btn-outline-danger" v-if="!saveNeeded" @click="timerSprintRemoveIndex({uuid: uuid, index: comment.index})"><fai icon="trash" /></button>
			<button class="btn btn-sm btn-outline-success" v-if="saveNeeded" @click="saveComment"><fai icon="save" /></button>
		</div>
		<!--<div v-if="timer.expand && timer.records.length > 0">
			<hr class="mb-0" />
			<TimerComment v-for="comment in timerComments(timer.uuid)" :key="comment.index" v-bind:uuid="timer.uuid" v-bind:comment="comment" />
		</div>-->
	</div>
</template>

<script>
	import {mapActions, mapGetters} from "vuex";

	export default {
		name: 'TimerComment',
		props: {
			uuid: String,
			comment: Object
		},
		data() {
			return {
				text: this.comment.comment
			}
		},
		computed: {
			...mapGetters(['formatTimestamp']),
			saveNeeded() {
				return (this.comment.comment !== this.text);
			},
			duration() {
				if (this.comment.end === null)
					return '--:--';

				return this.formatTimestamp(this.comment.end - this.comment.start);
			},
			startDate() {
				let dateStart = new Date(this.comment.start * 1000);

				let startTime = dateStart.getUTCHours() + ':' + (dateStart.getUTCMinutes() > 9 ? dateStart.getUTCMinutes() : '0' + dateStart.getUTCMinutes());
				let startDate = (dateStart.getUTCDay() > 9 ? dateStart.getUTCDay() : '0' + dateStart.getUTCDay()) + '.' + (dateStart.getUTCMonth() > 9 ? dateStart.getUTCMonth() : '0' + dateStart.getUTCMonth()) + '.' + dateStart.getUTCFullYear();

				return startTime + ' / ' + startDate;
			}
		},
		methods: {
			...mapActions(['timerSprintRemoveIndex', 'timerUpdateComment']),
			saveComment() {
				this.timerUpdateComment({
					uuid: this.uuid,
					index: this.comment.index,
					comment: this.text
				});

				this.comment.comment = this.text;
				//this.comment = JSON.parse(JSON.stringify(Object.assign(this.comment, {comment: this.text})));

				/*this.comment.comment = this.text;

				let comment = JSON.parse(JSON.stringify(this.comment));
				comment.comment = this.text;
				this.comment = comment;*/
			}
		}
	}
</script>

<style lang="scss" scoped>
	.d-flex.align-items-center {
		> *:nth-child(1) {
			width: 30px;
		}
		> *:nth-child(3) {
			width: 70px;
		}
		> *:nth-child(4) {
			width: 165px;
		}
		> *:nth-child(5) {
			width: 55px;
		}
	}
</style>
