<template>
	<div class="p-3 mb-3 border" :id="timer.uuid" :class="{'border-success': timerStatus(timer.uuid, 'running')}">
		<div class="row align-items-center flex-nowrap">
			<div class="col">
				<h3 class="m-0 text-truncate" :class="{'d-none': edit}" @click="timerStatusToggle({uuid: timer.uuid, field: 'expand'})">{{ timer.name }}</h3>
				<form :class="{'d-none': !edit, 'd-flex': edit}" @submit.prevent="changeName">
					<input type="text" class="form-control col mr-3" :id="timer.uuid + '_name'" v-model="name" />
					<button type="submit" class="btn btn-outline-success"><fai icon="save" /></button>
				</form>
			</div>
			<div class="py-1 px-2" :class="{'text-warning': timer.favourite}" @click="timerStatusToggle({uuid: timer.uuid, field: 'favourite'})">
				<fai icon="star" />
			</div>
			<div class="text-center">
				<p class="mb-0 font-weight-bold" :id="timer.uuid + '_sprint'">{{ timerSprint(timer.uuid) }}</p>
				<p class="mb-0 text-muted">Sprint</p>
			</div>
			<div class="text-center">
				<p class="mb-0 font-weight-bold" :id="timer.uuid + '_total'">{{ timerTotal(timer.uuid) }}</p>
				<p class="mb-0 text-muted">Total</p>
			</div>
			<button class="btn btn-outline-success py-2 mx-3" aria-label="Start timer" v-if="!timer.running" @click="timerStart(timer.uuid)"><fai icon="play" /></button>
			<button class="btn btn-outline-danger py-2 mx-3" aria-label="Stop timer" v-if="timer.running" @click="timerStop(timer.uuid)"><fai icon="pause" /></button>
		</div>
		<div v-if="timer.expand">
			<hr class="mb-0" />
			<div>
				<button class="btn btn-sm btn-outline-info mt-3 mr-2" aria-label="Reset latest" @click="timerSprintRemoveLatest(timer.uuid)"><fai icon="history" class="mr-2" />Reset latest</button>
				<button class="btn btn-sm btn-outline-primary mt-3 mr-2" aria-label="Reset all" @click="timerSprintRemoveAll(timer.uuid)"><fai icon="undo" class="mr-2" />Reset all</button>
				<button class="btn btn-sm btn-outline-success mt-3 mr-2" aria-label="Rename" :class="{'active': edit}" @click="changeEdit"><fai icon="pen" class="mr-2" />Rename</button>
				<button class="btn btn-sm btn-outline-danger mt-3" aria-label="Remove" @click="timerRemove(timer.uuid)"><fai icon="trash" class="mr-2" />Remove</button>
			</div>
		</div>
		<TimerRecords v-if="timer.expand && timer.records.length > 0" v-bind:uuid="timer.uuid" />
	</div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex'
	import TimerRecords from './TimerRecords'

	export default {
		name: 'Timer',
		components: {TimerRecords},
		created() {
			this.name = this.timer.name
		},
		data() {
			return {
				edit: false,
				name: ''
			}
		},
		props: {
			timer: Object
		},
		computed: {
			...mapGetters(['timerSprint', 'timerTotal', 'timerStatus'])
		},
		methods: {
			...mapActions(['timerRemove', 'timerStart', 'timerStop', 'timerSprintRemoveAll', 'timerSprintRemoveLatest', 'timerStatusToggle', 'timerName']),
			changeEdit() {
				this.edit = !this.edit
				if (this.edit === true) {
					// find input field for name
					let el = document.getElementById(this.timer.uuid + '_name')
					// set focus to input field after 50ms
					if (el !== null)
						setTimeout(() => el.focus(), 50)
				}
				if (this.edit === false && this.name !== this.timer.name)
					this.changeName()
			},
			changeName() {
				this.timerName({
					uuid: this.timer.uuid,
					name: this.name
				})
				this.edit = !this.edit
			}
		}
	}
</script>

<style lang="scss" scoped>
	.row.align-items-center.flex-nowrap {
		h3:hover {
			cursor: pointer;
		}
		> *:nth-child(3),
		> *:nth-child(4) {
			width: 100px;
		}
	}
</style>
