<template>
	<div id="app">
		<div class="bg-dark border-bottom">
			<div class="container p-3">
				<div class="row align-items-center flex-nowrap">
					<h2 class="col text-truncate text-white">Time Tracker</h2>
					<div class="px-3 text-center text-white">
						<p id="timer_total" class="mb-0 font-weight-bold">0:00</p>
						<p class="mb-0">Total</p>
					</div>
					<button class="btn btn-success d-block d-sm-none py-2 mx-3" aria-label="Add timer" @click="toggleTimer" :class="{'active': (showAdd === true)}"><fai icon="plus" /></button>
					<button class="btn btn-success d-none d-sm-block py-2 mx-3" aria-label="Add timer" @click="toggleTimer" :class="{'active': (showAdd === true)}"><fai icon="plus" class="mr-2" />Add Timer</button>
				</div>
			</div>
		</div>
		<div class="container pt-4">
			<form class="mb-3" :class="{'d-none': !showAdd}" @submit.prevent="addTimer">
				<div class="row">
					<div class="col">
						<input type="text" id="addTimerName" class="form-control" title="Add timer" placeholder="Name of new timer..." v-model="name" />
					</div>
					<button type="submit" class="btn btn-outline-success mr-3" aria-label="Add timer"><fai icon="plus" class="mr-2" />Add Timer</button>
				</div>
				<hr />
			</form>
			<div class="d-flex mb-4">
				<input type="search" class="col form-control form-control-lg mr-3" title="Search for timer" placeholder="Search for timer..." v-model="search" />
				<button class="btn btn-lg btn-outline-primary" aria-label="Sort timers" @click="changeSort"><fai :icon="sortIcon" /></button>
			</div>
			<div class="alert alert-warning" v-if="timersCount === 0">
				<p class="mb-0">No timers found. <a href="" @click.prevent="toggleTimer">Create a timer</a></p>
			</div>
			<div v-if="timersListFavourite">
				<Timer v-for="timer in timersListFavourite" v-bind:key="timer.uuid" v-bind:timer="timer" />
			</div>
			<div v-if="timersListSearch">
				<Timer v-for="timer in timersListSearch" v-bind:key="timer.uuid" v-bind:timer="timer" />
			</div>
		</div>
		<p class="mb-0 py-4 text-center"><a href="https://gitlab.com/crazy252/time-tracking" rel="noopener" target="_blank">GitLab</a> | Made with <fai icon="heart" class="text-danger" fixed-width /> by <a href="https://crazy252.de" rel="noopener" target="_blank">crazy252</a></p>
	</div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex'
	import Fuse from 'fuse.js'
	import Timer from './components/Timer'

	export default {
		name: 'App',
		components: {Timer},
		data() {
			return {
				name: '',
				search: '',
				showAdd: false
			}
		},
		mounted() {
			this.$store.dispatch('update')
			setInterval(() => this.$store.dispatch('update'), 1000)
		},
		computed: {
			...mapGetters(['timersCount', 'timersList', 'settingSort']),
			// get list of timers with seach input
			timersListSearch() {
				let timers = this.timersList(false)

				// check if search value is empty
				if (this.search.length === 0)
					return timers

				// init search with items and options
				let search = new Fuse(timers, {keys: ['name']})

				// searched result
				let result = search.search(this.search)
				if (result.length === 0)
					return []

				return result.reduce((acc, item) => {
					acc.push(item.item)
					return acc
				}, [])
			},
			// return list of favourite timers
			timersListFavourite() {
				return this.timersList(true)
			},
			sortIcon() {
				return 'sort-alpha-' + (this.settingSort === 'desc' ? 'up' : 'down')
			}
		},
		methods: {
			...mapActions(['timerAdd', 'settingSortChange']),
			toggleTimer() {
				this.showAdd = !this.showAdd
				// find input field for name
				let inputName = document.getElementById('addTimerName')
				// set focus to input field after 50ms
				if (this.showAdd && inputName !== null)
					setTimeout(() => inputName.focus(), 50)
			},
			addTimer() {
				// check if length of name is greater then 0
				if (this.name.length === 0)
					return true

				// add timer
				this.timerAdd(this.name)

				// reset name and hide add form
				this.name = ''
				this.showAdd = false
			},
			changeSort() {
				let sort = (this.settingSort === 'desc' ? 'asc' : 'desc')
				this.settingSortChange(sort)
			}
		}
	}
</script>

<style lang="scss">
	@import "node_modules/bootstrap/scss/bootstrap";
</style>
